<h1><strong>Edit Project:</strong> <code><%= @project.title %></code> </h1>

<% if @project.volunteers.any? %>
  <h3>Here are all the volunteers in this project:</h3>

  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><%= volunteer.name %> </li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no tasks on this list!</p>
<% end %>


<div class="well">
  <form action="/edit_project/<%= @project.id %>" method="post" autocomplete="off">
    <input name="_method" type="hidden" value="patch">
    <label for="title">What is the updated Project title?</label>
    <input type="text" name="title" value="<%= @project.title %>"><br>
    <button type="submit" name="button" class="btn btn-success">Update</button>
  </form>
</div>

<form action="/edit_project/<%= @project.id %>" method="post" autocomplete="off">
  <input name="_method" type="hidden" value="delete">
<button type="submit" class="btn btn-danger">Delete Project</button>
<form>

<button class="btn text-white btn-info" name="button"><a href="/"> Return Home</a></button>
